# Epic MyChart SMART on FHIR Configuration
# Register your app at https://fhir.epic.com/ to get a client ID

EPIC_CLIENT_ID=
EPIC_FHIR_BASE_URL=https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4
REDIRECT_URI=http://localhost:3000/callback
PORT=3000
